*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.child1 {
    height: 100vh;
    width: 25%;
    background-color: #2F80ED;
}

.child2 {
    width: 75%;
    height: 100vh;
    background-color: #ffffff;
}

.main_box {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.box_header {
    text-align: center;
    padding-top: 60px;
}

.box_header a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Verdana;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dashboard_buttons {
    padding: 150px 0 0 60px;
}

.dashboard_buttons a {
    color: #ffffff;
    text-decoration: none;
}

.dashboard_box a {
    display: flex;
    gap: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.logout_box {
    margin-top: 350px;
}

.logout_box a {
    display: flex;
    gap: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.settings_box {
    margin-top: 30px;
}

.settings_box a {
    display: flex;
    gap: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}


.settings_title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: #515151;
}

.section_wrapper {
    width: 250px;
    margin: 62px;
}

.submit {
    background-color: #2F80ED;
    padding: 15px 35px 15px 35px;
    border: none;
    background-color: #333333;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
}

.submit:hover {
    cursor: pointer;
}

.check_box {
    border: 1px solid #4F4F4F;
    width: 250px;
    padding: 15px;
    margin-top: 70px;
}

.check_box label {
    font-size: 18px;
    color: black;
    font-weight: bold;
    line-height: 27px;
}

.chk_bx {
    margin-left: 95px;
    width: 27px;
    height: 27px;
}

.placeholders_box {
    margin-top: 25px;
    margin-bottom: 25px;
}

.placeholders_box input{
    padding: 15px;
    width: 250px;
    border: 1px solid #828282;
}

::placeholder {
    color: black;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}
