*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.child1 {
    height: 100vh;
    width: 25%;
    background-color: #2F80ED;
}

.child2 {
    width: 75%;
    height: 100vh;
    background-color: #ffffff;
}

.main_box {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.box_header {
    text-align: center;
    padding-top: 60px;
}

.box_header a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Verdana;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.sign_box {
    width: 280px;
    height: 60px;
    background-color: #333333;
    display: block;
}

.login_box {
    width: 280px;
    height: 60px;
    background-color: #333333;
    display: block;
    margin-top: 30px;
}

.buttons a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 36px;
    font-family: Verdana;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    padding: 150px 0 0 60px;
}

.title_head {
    float: right;
    display: flex;
    width: 420px;
    margin-right: 80px;
}

.title_head p {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #4F4F4F;
}

.title_bottom {
    width: 450px;
    margin: -90px 0 0 120px;
}

.title_bottom p {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #4F4F4F;
}

.home_image img{
    margin: 0 0 0 170px;
    width: 880px;
    height: 580px;
    padding: 50px;
}

.dashboard_buttons {
    padding: 150px 0 0 60px;   
}

.dashboard_buttons a {
    color: #ffffff;
    text-decoration: none;
}

.dashboard_box a {
    display: flex;
    gap: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.logout_box {
    margin-top: 350px;
}

.logout_box a {
    display: flex;
    gap: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.settings_box {
    margin-top: 30px;
}

.settings_box a {
    display: flex;
    gap: 15px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.dashboard_wrapper {
    display: block;
    margin: 50px 0 0 50px;
}

.dashboard_title {
    color: #515151;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.view_title {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.view_title h3 {
    margin-top: 30px;
}

.three_box {
    display: flex;
    justify-content:space-between;
    margin: 50px 170px 0 0;
}

.three_box:hover {
    cursor: pointer;
}

.three_box p {
    color: #ffffff;
    text-align: center;
}

.day_box {
    background-color: #333333;
    width: 243px;
    height: 150px;
    border-radius: 25px;
}

.week_box {
    background-color: #333333;
    width: 243px;
    height: 150px;
    border-radius: 25px;
    
}

.month_box {
    background-color: #333333;
    width: 243px;
    height: 150px;
    border-radius: 25px;
}

.number {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    padding-top: 30px;
}

.text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

.page_box {
    margin-top: 20px;
}

.table_box {
    margin-top: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
  
td {
    border: 1px solid #dddddd;
    padding: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;  
}
  
td span {
    padding-left: 700px;
}
